/* Hide scrollbar for Chrome, Safari, Edge */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}